In [1]:
!ls ../data

2024-12-05

In [25]:
import pandas as pd
from json import load as json_load

In [26]:
filepath = '../data/2024-12-05/raw_data_0_49.json'

In [27]:
with open(filepath, 'r') as f:
    data = json_load(f)

In [28]:
df = pd.DataFrame(data['resultats'])

In [29]:
df.head(1)

,id,intitule,description,dateCreation,dateActualisation,lieuTravail,romeCode,romeLibelle,appellationlibelle,entreprise,typeContrat,typeContratLibelle,natureContrat,experienceExige,experienceLibelle,competences,salaire,dureeTravailLibelle,dureeTravailLibelleConverti,alternance,contact,agence,nombrePostes,accessibleTH,deplacementCode,deplacementLibelle,qualificationCode,qualificationLibelle,codeNAF,secteurActivite,secteurActiviteLibelle,qualitesProfessionnelles,origineOffre,offresManqueCandidats,permis,formations,experienceCommentaire,conditionExercice,complementExercice,langues
0,185BZTD,Garde d'une petite fille de 4 ans (H/F),Nous recrutons une personne diplômée et/ou exp...,2024-12-05T11:43:57.080Z,2024-12-05T11:43:57.635Z,"{'libelle': '40 - MONT DE MARSAN', 'latitude':...",K1303,Garde d'enfant à domicile,Garde d'enfant à domicile,"{'nom': 'Mhôme - Garde d'enfants à domicile', ...",CDI,CDI,Contrat travail,E,6 Mois,"[{'code': '107371', 'libelle': 'Accompagner l'...",{'libelle': 'Horaire de 11.9 Euros à 12.0 Euro...,temps partiel - 3H30 Au domicile d’un particulier,Temps partiel,False,{'nom': 'Mhôme - Garde d'enfants à domicile - ...,{},1,False,3,Fréquents Zone départementale,6,Employé qualifié,88.10A,88,Aide à domicile,"[{'libelle': 'Faire preuve de créativité, d'in...","{'origine': '1', 'urlOrigine': 'https://candid...",False,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df['dateCreation'] = pd.to_datetime(df['dateCreation'])
df['dateActualisation'] = pd.to_datetime(df['dateActualisation'])

In [31]:
expanded_columns = df['lieuTravail'].apply(pd.Series)
expanded_columns = expanded_columns.add_prefix("lieuTravail_")
df = pd.concat([df.drop(columns=["lieuTravail"]), expanded_columns], axis=1)

In [32]:
df.head(2)

,id,intitule,description,dateCreation,dateActualisation,romeCode,romeLibelle,appellationlibelle,entreprise,typeContrat,typeContratLibelle,natureContrat,experienceExige,experienceLibelle,competences,salaire,dureeTravailLibelle,dureeTravailLibelleConverti,alternance,contact,agence,nombrePostes,accessibleTH,deplacementCode,deplacementLibelle,qualificationCode,qualificationLibelle,codeNAF,secteurActivite,secteurActiviteLibelle,qualitesProfessionnelles,origineOffre,offresManqueCandidats,permis,formations,experienceCommentaire,conditionExercice,complementExercice,langues,lieuTravail_libelle,lieuTravail_latitude,lieuTravail_longitude,lieuTravail_codePostal,lieuTravail_commune
0,185BZTD,Garde d'une petite fille de 4 ans (H/F),Nous recrutons une personne diplômée et/ou exp...,2024-12-05 11:43:57.080000+00:00,2024-12-05 11:43:57.635000+00:00,K1303,Garde d'enfant à domicile,Garde d'enfant à domicile,"{'nom': 'Mhôme - Garde d'enfants à domicile', ...",CDI,CDI,Contrat travail,E,6 Mois,"[{'code': '107371', 'libelle': 'Accompagner l'...",{'libelle': 'Horaire de 11.9 Euros à 12.0 Euro...,temps partiel - 3H30 Au domicile d’un particulier,Temps partiel,False,{'nom': 'Mhôme - Garde d'enfants à domicile - ...,{},1,False,3,Fréquents Zone départementale,6,Employé qualifié,88.10A,88,Aide à domicile,"[{'libelle': 'Faire preuve de créativité, d'in...","{'origine': '1', 'urlOrigine': 'https://candid...",False,NaN,NaN,NaN,NaN,NaN,NaN,40 - MONT DE MARSAN,43.891274,-0.500310,40000,40192
1,185BZSY,Préparateur de commandes F/H,Synergie Lagnieu recrute pour Carrefour Supply...,2024-12-05 11:43:54.514000+00:00,2024-12-05 11:43:54.840000+00:00,N1103,Préparateur / Préparatrice de commandes,Préparateur / Préparatrice de commandes,"{'nom': 'SYNERGIE', 'entrepriseAdaptee': False}",CDI,CDI,Contrat travail,D,Débutant accepté,NaN,{'libelle': 'Annuel de 21622.0 Euros à 25000.0...,35H Travail en horaires décalés,Temps plein,False,{'coordonnees1': 'https://app.mytalentplug.com...,{},1,False,NaN,NaN,3,"Ouvrier qualifié (P1,P2)",78.20Z,78,Activités des agences de travail temporaire,NaN,"{'origine': '1', 'urlOrigine': 'https://candid...",False,NaN,NaN,NaN,NaN,NaN,NaN,01 - Saint-Vulbas,45.813063,5.275121,01150,01390

In [33]:
df['entreprise'] = df['entreprise'].apply(pd.Series)['nom']

In [34]:
pd.set_option('display.max_columns', None)
df.head(2)

,id,intitule,description,dateCreation,dateActualisation,romeCode,romeLibelle,appellationlibelle,entreprise,typeContrat,typeContratLibelle,natureContrat,experienceExige,experienceLibelle,competences,salaire,dureeTravailLibelle,dureeTravailLibelleConverti,alternance,contact,agence,nombrePostes,accessibleTH,deplacementCode,deplacementLibelle,qualificationCode,qualificationLibelle,codeNAF,secteurActivite,secteurActiviteLibelle,qualitesProfessionnelles,origineOffre,offresManqueCandidats,permis,formations,experienceCommentaire,conditionExercice,complementExercice,langues,lieuTravail_libelle,lieuTravail_latitude,lieuTravail_longitude,lieuTravail_codePostal,lieuTravail_commune
0,185BZTD,Garde d'une petite fille de 4 ans (H/F),Nous recrutons une personne diplômée et/ou exp...,2024-12-05 11:43:57.080000+00:00,2024-12-05 11:43:57.635000+00:00,K1303,Garde d'enfant à domicile,Garde d'enfant à domicile,Mhôme - Garde d'enfants à domicile,CDI,CDI,Contrat travail,E,6 Mois,"[{'code': '107371', 'libelle': 'Accompagner l'...",{'libelle': 'Horaire de 11.9 Euros à 12.0 Euro...,temps partiel - 3H30 Au domicile d’un particulier,Temps partiel,False,{'nom': 'Mhôme - Garde d'enfants à domicile - ...,{},1,False,3,Fréquents Zone départementale,6,Employé qualifié,88.10A,88,Aide à domicile,"[{'libelle': 'Faire preuve de créativité, d'in...","{'origine': '1', 'urlOrigine': 'https://candid...",False,NaN,NaN,NaN,NaN,NaN,NaN,40 - MONT DE MARSAN,43.891274,-0.500310,40000,40192
1,185BZSY,Préparateur de commandes F/H,Synergie Lagnieu recrute pour Carrefour Supply...,2024-12-05 11:43:54.514000+00:00,2024-12-05 11:43:54.840000+00:00,N1103,Préparateur / Préparatrice de commandes,Préparateur / Préparatrice de commandes,SYNERGIE,CDI,CDI,Contrat travail,D,Débutant accepté,NaN,{'libelle': 'Annuel de 21622.0 Euros à 25000.0...,35H Travail en horaires décalés,Temps plein,False,{'coordonnees1': 'https://app.mytalentplug.com...,{},1,False,NaN,NaN,3,"Ouvrier qualifié (P1,P2)",78.20Z,78,Activités des agences de travail temporaire,NaN,"{'origine': '1', 'urlOrigine': 'https://candid...",False,NaN,NaN,NaN,NaN,NaN,NaN,01 - Saint-Vulbas,45.813063,5.275121,01150,01390

In [35]:
df_permis = df['permis'].apply(pd.Series)
df_formations = df['formations'].apply(pd.Series)
df_langues = df['langues'].apply(pd.Series)

In [36]:
df_formations

,0,1
0,NaN,NaN
1,NaN,NaN
2,NaN,NaN
3,NaN,NaN
4,NaN,NaN
5,NaN,NaN
6,NaN,NaN
7,"{'codeFormation': '42752', 'domaineLibelle': '...",NaN
8,"{'codeFormation': '21712', 'domaineLibelle': '...",NaN
9,NaN,NaN
10,NaN,NaN
11,NaN,NaN
12,"{'codeFormation': '44083', 'domaineLibelle': '...",NaN
13,NaN,NaN
14,"{'codeFormation': '22435', 'domaineLibelle': '...",NaN
15,NaN,NaN
16,"{'codeFormation': '35015', 'domaineLibelle': '...","{'codeFormation': '35071', 'domaineLibelle': '..."
17,NaN,NaN
18,NaN,NaN
19,"{'niveauLibelle': 'CAP, BEP et équivalents', '...",NaN
20,"{'niveauLibelle': 'Bac+2 ou équivalents', 'exi...",NaN
21,NaN,NaN
22,NaN,NaN
23,NaN,NaN
24,NaN,NaN
25,NaN,NaN
26,NaN,NaN
27,"{'niveauLibelle': 'CAP, BEP et équivalents', '...",NaN
28,NaN,NaN
29,"{'niveauLibelle': 'Bac+2 ou équivalents', 'exi...",NaN
30,"{'codeFormation': '43436', 'domaineLibelle': '...",NaN
31,"{'codeFormation': '42032', 'domaineLibelle': '...","{'codeFormation': '42032', 'domaineLibelle': '..."
32,NaN,NaN
33,NaN,NaN
34,NaN,NaN
35,"{'niveauLibelle': 'Aucune formation scolaire',...",NaN
36,"{'codeFormation': '22312', 'domaineLibelle': '...",NaN
37,"{'codeFormation': '23617', 'domaineLibelle': '...",NaN
38,NaN,NaN
39,NaN,NaN
40,{'niveauLibelle': 'Bac+5 et plus ou équivalent...,NaN
41,"{'codeFormation': '31845', 'domaineLibelle': '...",NaN
42,NaN,NaN
43,NaN,NaN
44,NaN,NaN
45,NaN,NaN
46,NaN,NaN
47,"{'niveauLibelle': 'Bac+2 ou équivalents', 'exi...",NaN
48,"{'codeFormation': '33054', 'domaineLibelle': '...",NaN
49,"{'codeFormation': '34287', 'domaineLibelle': '...",NaN

In [37]:
df_formations.stack().reset_index(level=1, drop=True).apply(pd.Series).join(df['id'])

,codeFormation,domaineLibelle,niveauLibelle,exigence,commentaire,id
7,42752,cuisine,"CAP, BEP et équivalents",S,NaN,185BZSR
8,21712,finition confection,Bac ou équivalent,E,NaN,185BZSQ
12,44083,assistant service social,"Bac+3, Bac+4 ou équivalents",E,DEASS DE assistant de service social,185BZSG
14,22435,menuiserie,"CAP, BEP et équivalents",S,menuisier fabrican,185BZSD
16,35015,secrétariat assistanat médicosocial,Bac ou équivalent,E,NaN,185BZSB
16,35071,technique administrative,"CAP, BEP et équivalents",E,NaN,185BZSB
19,NaN,NaN,"CAP, BEP et équivalents",E,CAP / BP Charpente,185BZRW
20,NaN,NaN,Bac+2 ou équivalents,S,NaN,185BZRV
27,NaN,NaN,"CAP, BEP et équivalents",S,NaN,185BZRJ
29,NaN,NaN,Bac+2 ou équivalents,S,NaN,185BZRF
30,43436,aide-soignant,Bac ou équivalent,E,Aide soignante. assp pro,185BZRD
31,42032,esthétique soin corporel,Bac+2 ou équivalents,E,BTS Esthétique,185BZRC
31,42032,esthétique soin corporel,"CAP, BEP et équivalents",E,CAP Esthétique,185BZRC
35,NaN,NaN,Aucune formation scolaire,S,NaN,185BZQV
36,22312,charpente,"CAP, BEP et équivalents",S,NaN,185BZQT
37,23617,carrosserie,Bac ou équivalent,E,NaN,185BZQQ
40,NaN,NaN,Bac+5 et plus ou équivalents,S,NaN,185BZQL
41,31845,logistique,Bac+2 ou équivalents,S,NaN,185BZQK
47,NaN,NaN,Bac+2 ou équivalents,S,NaN,185BZPZ
48,33054,ressources humaines,Bac+2 ou équivalents,S,NaN,185BZPY
49,34287,logistique internationale,Bac+2 ou équivalents,S,NaN,185BZPX

In [38]:
df['permis'] = df['permis'].notna()
df['formations'] = df['formations'].notna()
df['langues'] = df['langues'].notna()

In [39]:
df[['id', 'intitule', 'description', 'dateCreation', 'dateActualisation', 'romeCode', 'romeLibelle', 'entreprise', 'typeContrat', 'natureContrat', 'experienceExige', 'experienceLibelle', 'dureeTravailLibelleConverti', 'alternance', 'nombrePostes', 'qualificationCode', 'codeNAF', 'secteurActiviteLibelle', 'permis', 'formations', 'langues', 'lieuTravail_commune', 'lieuTravail_latitude', 'lieuTravail_longitude']].head(10)

,id,intitule,description,dateCreation,dateActualisation,romeCode,romeLibelle,entreprise,typeContrat,natureContrat,experienceExige,experienceLibelle,dureeTravailLibelleConverti,alternance,nombrePostes,qualificationCode,codeNAF,secteurActiviteLibelle,permis,formations,langues,lieuTravail_commune,lieuTravail_latitude,lieuTravail_longitude
0,185BZTD,Garde d'une petite fille de 4 ans (H/F),Nous recrutons une personne diplômée et/ou exp...,2024-12-05 11:43:57.080000+00:00,2024-12-05 11:43:57.635000+00:00,K1303,Garde d'enfant à domicile,Mhôme - Garde d'enfants à domicile,CDI,Contrat travail,E,6 Mois,Temps partiel,False,1,6,88.10A,Aide à domicile,False,False,False,40192,43.891274,-0.500310
1,185BZSY,Préparateur de commandes F/H,Synergie Lagnieu recrute pour Carrefour Supply...,2024-12-05 11:43:54.514000+00:00,2024-12-05 11:43:54.840000+00:00,N1103,Préparateur / Préparatrice de commandes,SYNERGIE,CDI,Contrat travail,D,Débutant accepté,Temps plein,False,1,3,78.20Z,Activités des agences de travail temporaire,False,False,False,01390,45.813063,5.275121
2,185BZSX,Assistant.e d'élevage équin (H/F),Pour un élevage de 40 poulinières avec foals e...,2024-12-05 11:43:52.183000+00:00,2024-12-05 11:43:52.183000+00:00,A1407,Éleveur / Éleveuse de bovins,ECURIE CHAUNION,CDI,Contrat travail,E,5 An(s),Temps plein,False,1,6,01.42Z,Élevage d'autres bovins et de buffles,True,False,False,14335,49.173417,-0.063275
3,185BZSW,Responsable environnement - chantier epr (H/F),"Le poste :\nFondé à Manosque en 1990, PROMAN e...",2024-12-05 11:43:51.241000+00:00,2024-12-05 11:43:51.566000+00:00,F1202,Chef / Cheffe de chantier,PROMAN Honfleur (2022),MIS,Contrat travail,S,2 An(s),Temps plein,False,1,9,78.20Z,Activités des agences de travail temporaire,False,False,False,14333,49.409689,0.224660
4,185BZSV,Mesure POEI : Préparateur réparateur / Prépara...,Cette offre concerne une mesure POEI,2024-12-05 11:43:50.692000+00:00,2024-12-05 11:43:57.882000+00:00,I1611,Préparateur / Préparatrice de véhicules automo...,NaN,CDD,Contrat travail,D,Débutant accepté,Temps partiel,False,0,5,45.11Z,Commerce de voitures et de véhicules automobil...,False,False,False,45036,47.784587,2.717539
5,185BZST,Chargé de clientèle (H/F),"Spécialisés dans le recrutement, nous recherch...",2024-12-05 11:43:49.746000+00:00,2024-12-05 11:43:50.242000+00:00,C1206,Conseiller / Conseillère de clientèle bancaire,RAS 570,MIS,Contrat travail,E,6 Mois,Temps plein,False,1,5,78.20Z,Activités des agences de travail temporaire,False,False,False,33550,44.775080,-0.554530
6,185BZSS,Employé polyvalent / Employée polyvalente de l...,"Entreprise familiale, nous cherchons un employ...",2024-12-05 11:43:49.560000+00:00,2024-12-05 11:43:49.560000+00:00,D1507,Employé / Employée de libre-service,NAMIR,CDI,Contrat travail,E,1 An(s),Temps plein,False,1,3,47.11C,Supérettes,True,False,False,16102,45.696416,-0.335869
7,185BZSR,Plongeur / Plongeuse en restauration (H/F),Au sein d'un restaurant de cuisine vietnamienn...,2024-12-05 11:43:46.681000+00:00,2024-12-05 11:43:46.681000+00:00,G1605,Plongeur officier / Plongeuse officière de cui...,NaN,CDI,Contrat travail,D,Débutant accepté,Temps plein,False,1,5,56.10C,Restauration de type rapide,False,True,False,97415,-21.032172,55.282331
8,185BZSQ,Couturier(ère) Machine PAP Luxe H/F,Vous réalisez une partie ou la totalité du pro...,2024-12-05 11:43:44.323000+00:00,2024-12-05 11:43:44.323000+00:00,B1803,Couturier / Couturière,NaN,CDD,Contrat travail,E,6 Mois - ou formation,Temps plein,False,1,6,14.13Z,Fabrication de vêtements de dessus,False,True,False,14341,49.148288,-0.340572
9,185BZSN,Monteur Réseaux (H/F),Dans le cadre du développement de son activité...,2024-12-05 11:43:38.188000+00:00,2024-12-05 11:43:38.454000+00:00,F1605,Électricien / Électricienne réseaux,CRIT INTERIM,MIS,Contrat travail,D,Débutant accepté,Temps plein,False,1,3,78.20Z,Activités des agences de travail temporaire,False,False,False,64445,43.313159,-0.343106

In [40]:
competences_df = df['competences'].apply(pd.Series)

In [41]:
salaires_df = df['salaire'].apply(pd.Series)

In [42]:
contact_df = df['contact'].apply(pd.Series)

In [50]:
## Split this to one id, multiple rows
qualite_pro_df = df['qualitesProfessionnelles'].apply(pd.Series)

In [45]:
competences_df.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,"{'code': '107371', 'libelle': 'Accompagner l'e...","{'code': '107848', 'libelle': 'Organiser et an...","{'code': '107933', 'libelle': 'Préparer et don...","{'code': '107935', 'libelle': 'Procéder à la t...","{'code': '107936', 'libelle': 'Procurer à l'en...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'code': '122572', 'libelle': 'Déterminer les ...","{'code': '100256', 'libelle': 'Dispenser les s...","{'code': '300282', 'libelle': 'Entretenir, net...","{'code': '123086', 'libelle': 'Surveiller l'ét...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
salaires_df.stack().reset_index(level=1, drop=True).apply(pd.Series).join(df['id'])

                                                    0       id
0     Horaire de 11.9 Euros à 12.0 Euros sur 0.0 mois  185BZTD
0                                            Mutuelle  185BZTD
0                                            Véhicule  185BZTD
1   Annuel de 21622.0 Euros à 25000.0 Euros sur 12...  185BZSY
2                                              Primes  185BZSX
..                                                ...      ...
46                                           Mutuelle  185BZQB
47                                              Autre  185BZPZ
47                                 SUIVANT EXPERIENCE  185BZPZ
48              Annuel de 36000.0 Euros sur 12.0 mois  185BZPY
49              Mensuel de 2400.0 Euros sur 12.0 mois  185BZPX

[85 rows x 2 columns]

In [53]:
salaires_df

,libelle,complement1,complement2,commentaire
0,Horaire de 11.9 Euros à 12.0 Euros sur 0.0 mois,Mutuelle,Véhicule,NaN
1,Annuel de 21622.0 Euros à 25000.0 Euros sur 12...,NaN,NaN,NaN
2,NaN,Primes,Autre,Selon profil
3,Horaire de 14.0 Euros à 14.0 Euros sur 12.0 mois,NaN,NaN,NaN
4,Horaire de 11.88 Euros à 12 Euros sur 12 mois,NaN,NaN,NaN
5,Mensuel de 2000.0 Euros à 2200.0 Euros sur 12....,Chèque repas,NaN,NaN
6,Horaire de 11.88 Euros,NaN,NaN,NaN
7,NaN,Autre,NaN,1 600 euros nets
8,Horaire de 11.88 Euros sur 12 mois,Autre,NaN,Selon compètences
9,Annuel de 25000.0 Euros à 30000.0 Euros sur 12...,NaN,NaN,NaN
10,Mensuel de 1040.00 Euros à 1200.00 Euros sur 1...,NaN,NaN,NaN
11,Horaire de 11.88 Euros à 12.5 Euros sur 0.0 mois,NaN,NaN,NaN
12,NaN,Chèque repas,Mutuelle,NaN
13,Mensuel de 1801.80 Euros sur 12.0 mois,NaN,NaN,NaN
14,Mensuel de 1801.8 Euros à 2400 Euros sur 12 mois,Chèque repas,Mutuelle,NaN
15,NaN,Autre,NaN,Détails dans l'offre
16,Mensuel de 2189.00 Euros sur 12.0 mois,Chèque repas,NaN,NaN
17,Horaire de 11.88 Euros sur 12.0 mois,NaN,NaN,NaN
18,Annuel de 21622.0 Euros à 30000.0 Euros sur 12...,NaN,NaN,NaN
19,NaN,Autre,NaN,A déterminer selon le profil
20,Mensuel de 3400.0 Euros à 3500.0 Euros sur 12....,Mutuelle,Chèque repas,NaN
21,Mensuel de 1802.0 Euros à 1902.0 Euros sur 12....,NaN,NaN,NaN
22,Horaire de 12.0 Euros à 14.0 Euros sur 12.0 mois,NaN,NaN,NaN
23,Horaire de 12.0 Euros à 13.0 Euros sur 12.0 mois,NaN,NaN,NaN
24,Mensuel de 1802.0 Euros à 1902.0 Euros sur 12....,NaN,NaN,NaN
25,Mensuel de 1809.0 Euros à 2002.0 Euros sur 13....,Chèque repas,Mutuelle,NaN
26,NaN,Autre,NaN,","
27,Mensuel de 2200 Euros à 2300 Euros sur 12 mois,NaN,NaN,NaN
28,Mensuel de 1801.80 Euros sur 12 mois,Primes,NaN,NaN
29,Mensuel de 2102.0 Euros sur 12.0 mois,NaN,NaN,NaN
30,Mensuel de 2000.00 Euros sur 12 mois,Mutuelle,NaN,NaN
31,Mensuel de 2069.0 Euros à 2070.0 Euros sur 12....,Hébergement,NaN,NaN
32,Horaire de 13.49 Euros à 15.4 Euros sur 0.0 mois,Primes,Chèque repas,NaN
33,Mensuel de 2059.0 Euros à 2400.0 Euros sur 12....,Mutuelle,NaN,NaN
34,Horaire de 12.0 Euros à 13.0 Euros sur 12.0 mois,NaN,NaN,NaN
35,Horaire de 12.13 Euros sur 12 mois,Autre,NaN,+ selon expérience
36,Mensuel de 1802 Euros à 2400 Euros sur 12 mois,NaN,NaN,NaN
37,NaN,Autre,NaN,Selon compétences
38,Mensuel de 1801.8 Euros sur 12 mois,Primes,NaN,NaN
39,NaN,Autre,NaN,à négocier selon profil
40,Mensuel de 3000.0 Euros sur 12.0 mois,Véhicule,NaN,NaN
41,Annuel de 24000.0 Euros sur 12.0 mois,NaN,NaN,NaN
42,Horaire de 11.88 Euros à 12.13 Euros sur 12.0 ...,NaN,NaN,NaN
43,NaN,Autre,NaN,SELON GRILLE DE SALAIRE
44,Annuel de 30000.0 Euros sur 12.0 mois,NaN,NaN,NaN
45,Horaire de 11.88 Euros à 11.88 Euros,NaN,NaN,NaN
46,Mensuel de 1859.0 Euros à 2609.0 Euros sur 12....,Chèque repas,Mutuelle,NaN
47,NaN,Autre,NaN,SUIVANT EXPERIENCE
48,Annuel de 36000.0 Euros sur 12.0 mois,NaN,NaN,NaN
49,Mensuel de 2400.0 Euros sur 12.0 mois,NaN,NaN,NaN