In [36]:
import pandas as pd
from json import loads as json_loads

In [37]:
df = pd.DataFrame()

In [38]:
path = '../data/chatgpt/2024-12-05/v7/'

In [39]:
with open(f"{path}/title.txt", "r") as file:
    lines = file.readlines()

# Step 2: Remove the first and last lines (e.g., ```json and ```)
cleaned_lines = lines[1:-1]  # Exclude the first and last lines
cleaned_json = "".join(cleaned_lines)  # Combine the lines into a single string

# Step 3: Parse the JSON
data = json_loads(cleaned_json)
title_df = pd.DataFrame(data)

In [40]:
with open(f"{path}/skills.txt", "r") as file:
    lines = file.readlines()

# Step 2: Remove the first and last lines (e.g., ```json and ```)
cleaned_lines = lines[1:-1]  # Exclude the first and last lines
cleaned_json = "".join(cleaned_lines)  # Combine the lines into a single string

# Step 3: Parse the JSON
data = json_loads(cleaned_json)
skills_df = pd.DataFrame(data)

In [41]:
with open(f"{path}/experience.txt", "r") as file:
    lines = file.readlines()

# Step 2: Remove the first and last lines (e.g., ```json and ```)
cleaned_lines = lines[1:-1]  # Exclude the first and last lines
cleaned_json = "".join(cleaned_lines)  # Combine the lines into a single string

# Step 3: Parse the JSON
data = json_loads(cleaned_json)
exp_df = pd.DataFrame(data)

In [42]:
with open(f"{path}/education.txt", "r") as file:
    lines = file.readlines()

# Step 2: Remove the first and last lines (e.g., ```json and ```)
cleaned_lines = lines[1:-1]  # Exclude the first and last lines
cleaned_json = "".join(cleaned_lines).replace("'", '"')  # Combine the lines into a single string

# Step 3: Parse the JSON
data = json_loads(cleaned_json)
ed_df = pd.DataFrame(data)

In [49]:
ed_df

,education,certifications
0,"{'degree': 'Data science bootcamp', 'school': ...",{'certification': 'IA and Big Data Solution De...
1,{'degree': 'Engineer of the University of Tech...,"{'certification': 'AWS Big Data Specialty', 'i..."
2,"{'degree': 'Erasmus Semester', 'school': 'Lund...","{'certification': 'AWS Cloud Practionner', 'in..."

In [50]:
skills_df

                                              skills
0  {'category': 'DATA PIPELINE & ORCHESTRATION', ...
1  {'category': 'DEVOPS & COLLAB', 'skills': ['Ji...
2  {'category': 'DATA WAREHOUSING & DATABASES', '...
3  {'category': 'DATA VIZ & ANALYTICS', 'skills':...
4  {'category': 'PROGRAMMATION & SCRIPTING', 'ski...
5  {'category': 'DATA SCIENCE', 'skills': ['MLFlo...
6  {'category': 'DATA LINEAGE', 'skills': ['Marqu...
7  {'category': 'DATA QUALITY', 'skills': ['Great...

In [51]:
exp_df

                                          experience
0  {'job_title': 'Data engineer for Enterprise En...
1  {'job_title': 'Data engineer for Integrity tea...
2  {'job_title': 'Consultant Data engineer', 'com...
3  {'job_title': 'Consultant Data engineer', 'com...
4  {'job_title': 'Consultant Data engineer', 'com...
5  {'job_title': 'Consultant Data engineer', 'com...

In [52]:
title_df

       job_title                                languages
0  Data Engineer    {'language': 'French', 'level': 'C2'}
1  Data Engineer   {'language': 'English', 'level': 'C2'}
2  Data Engineer   {'language': 'Spanish', 'level': 'A2'}
3  Data Engineer  {'language': 'Japanese', 'level': 'A1'}

In [57]:
result = (
    title_df.groupby("job_title")["languages"]
    .apply(list)
    .reset_index()
    .to_dict("records")
)

In [61]:
title_df.groupby("job_title")["languages"].apply(list).to_dict()

{'Data Engineer': [{'language': 'French', 'level': 'C2'},
  {'language': 'English', 'level': 'C2'},
  {'language': 'Spanish', 'level': 'A2'},
  {'language': 'Japanese', 'level': 'A1'}]}

In [70]:
result = {
    "id": 0,  # Assign a unique id
    "job_title": title_df["job_title"].iloc[0],  # Take the first job title (assumes uniformity)
    "languages": title_df['languages'].to_list(),
    "experience": exp_df['experience'].to_list(),
    "skills": skills_df['skills'].to_list(),
    "education": ed_df['education'].to_list(),
    "certification": ed_df['certifications'].to_list()
}

In [71]:
result

{'id': 0,
 'job_title': 'Data Engineer',
 'languages': [{'language': 'French', 'level': 'C2'},
  {'language': 'English', 'level': 'C2'},
  {'language': 'Spanish', 'level': 'A2'},
  {'language': 'Japanese', 'level': 'A1'}],
 'experience': [{'job_title': 'Data engineer for Enterprise Engineering team',
   'company': 'Meta',
   'dates': '09/2020-02/2023',
   'description': 'Team support, establishing logging specifications, defining and implementing metrics and goals for the material movement team, project from scratch to automate work assignment in datacenters [saved ~4K hours on planning per year], logging specs, dataset, metrics, evaluation methods design and creation.'},
  {'job_title': 'Data engineer for Integrity team',
   'company': 'Meta',
   'dates': '09/2020-02/2023',
   'description': 'Team support, reduce inauthentic account and content on Facebook and Instagram, design and implementation of a framework to measure authenticity attributes for Facebook and Instagram user accounts while respecting data privacy requirements, refactoring of page authentication flows [reduction of offendable content by 2.7%], datasets and dashboards creation to visualize user’s path, new identification method for users, dataset and dashboards to enable data scientist to analyze experiment data of the new identification method for users, pipeline optimization leading to compute reduction [More than $120K saved a year].'},
  {'job_title': 'Consultant Data engineer',
   'company': 'Euler Hermes',
   'dates': '08/2018-10/2019',
   'description': 'Data lake centralization of all the data of the company in a data lake (API + Kinesis Streams), KPI calculation and exposure via API in python.'},
  {'job_title': 'Consultant Data engineer',
   'company': 'Canal +',
   'dates': '08/2018-10/2019',
   'description': 'Anomaly detection on streaming data using a RCF algorithm on users’ logs with AWS Kinesis Analytics.'},
  {'job_title': 'Consultant Data engineer',
   'company': 'Sodexo',
   'dates': '02/2017-08/2018',
   'description': 'Data migration into an Azure Datalake (on-premises & Azure SQL DB) with ADF.'},
  {'job_title': 'Consultant Data engineer',
   'company': 'French National Police Department',
   'dates': '02/2017-08/2018',
   'description': 'Statistics calculation, data extraction with Spark, backend development in Scala using the AKKA framework and Kafka, backend development for the new application used in the police stations.'}],
 'skills': [{'category': 'DATA PIPELINE & ORCHESTRATION',
   'skills': ['Git', 'Airflow', 'Dbt', 'Kafka', 'Prefect', 'Spark']},
  {'category': 'DEVOPS & COLLAB',
   'skills': ['Jira',
    'AWS Lambda',
    'AWS S3',
    'GCP Cloud Function',
    'GCP Cloud Storage',
    'Docker',
    'Terraform']},
  {'category': 'DATA WAREHOUSING & DATABASES',
   'skills': ['AWS Athena',
    'AWS Redshift',
    'ClickHouse',
    'GCP BigQuery',
    'PostgreSQL',
    'Snowflake']},
  {'category': 'DATA VIZ & ANALYTICS',
   'skills': ['Looker', 'Tableau', 'Streamlit', 'Plotly', 'Seaborn']},
  {'category': 'PROGRAMMATION & SCRIPTING',
   'skills': ['Flask', 'Bash', 'Java', 'JavaScript', 'Python', 'Scala']},
  {'category': 'DATA SCIENCE',
   'skills': ['MLFlow', 'Numpy', 'Pandas', 'Scikit-learn']},
  {'category': 'DATA LINEAGE', 'skills': ['Marquez', 'OpenLineage']},
  {'category': 'DATA QUALITY', 'skills': ['Great Expectations']}],
 'education': [{'degree': 'Data science bootcamp',
   'school': 'Le wagon',
   'year': '2024',
   'description': '9-week about data analysis, machine learning, deep learning and ML engineering.'},
  {'degree': 'Engineer of the University of Technology of Troyes',
   'school': 'University of Technology of Troyes',
   'year': '2017',
   'description': 'Computer science and Information Systems Specialization in Software Project Management'},
  {'degree': 'Erasmus Semester',
   'school': 'Lund University',
   'year': '2015',
   'description': 'Computer Science'}],
 'certification': [{'certification': 'IA and Big Data Solution Designer',
   'institution': 'Le wagon'},
  {'certification': 'AWS Big Data Specialty', 'institution': ''},
  {'certification': 'AWS Cloud Practionner', 'institution': ''}]}